@import '../../components/style/vars.less';

.finallyMessage {
  margin: 2rem 0;
}

.finallyMessageError {
  font-size: @fontSizeM;

  @media (max-width: @breakPointS) {
    font-size: @fontSizeS;
  }
}

.socialMedia {
  position: relative;
  z-index: 1;
}

.socialMediaSuccess {
  margin-bottom: 10rem !important;

  @media (max-width: @breakPointM) {
    margin-bottom: 5rem !important;
  }
}
