@import '../../components/style/vars.less';

.finallyMessage {
  margin: 2rem 0;
}

.finallyMessageError {
  font-size: @DesktopFontSizeM;

  @media (max-width: @breakPointS) {
    font-size: @DesktopFontSizeS;
  }
}
