@import '../../../components/style/vars.less';

.section {
  padding-top: 3rem !important;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 50%;
}

.buttonContainer {
  margin-top: 4.5rem;

  div {
    display: flex;
    justify-content: center;
  }

  .button {
    margin-bottom: 1rem;
  }
}
