@import '../style/vars.less';

.body {
    font-weight: bold;
    position: relative;

    &.showCTA {
        display: grid;
        grid-template-columns: 1fr 16rem;
        grid-gap: 2rem;
        align-items: center;

        @media (max-width: @breakPointM) {
            grid-template-columns: 1fr;
            margin-bottom: 1rem;
        }
    }
}

.title {
    font-size: @fontSizeM;
}

.cta {
    text-align: center;
}

.bar {
    position: relative;
    height: 7.5rem;
    line-height: 1;
}

.barGoal {
    position: absolute;
    color: var(--bg-color);
    height: 5rem;
    width: 100%;
    font-size: @fontSizeM;
    display: flex;
    justify-content: flex-end;

    > div, span {
        position: relative;
        z-index: 1;
        padding: 0.5rem;
    }

    &.hasStarted {
        color: var(--font-color);

        &::before {
            background: transparent;
            border: var(--bg-color);
            border: 1px solid var(--font-color);
        }
    }

    &::before {
        content: '';
        background: var(--font-color);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        transform: skewX(3.2deg) skewY(0.3deg) rotate(-0.2deg);
    }
}

.starts {
    font-size: @fontSizeXXXL;
    position: absolute;
    width: 100%;
    bottom: -.3rem;
    left: 1rem;

    @media (max-width: @breakPointM) {
        line-height: 0.9;
    }
}

.barCurrent {
    position: absolute;
    bottom: 0;
    height: 5rem;
    font-size: @fontSizeXXXL;
    color: var(--text-on-secondary-color);
    display: flex;
    transition: width 1s ease;

    &::before {
        content: '';
        background: var(--secondary-color);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        transform: skewX(-3.2deg) skewY(0.3deg) rotate(0.2deg);
    }

    > div, span {
        position: absolute;
        z-index: 1;
        bottom: -.3rem;
        right: 1rem;
    }

    &.outside {
        > div, span {
            left: calc(100% + 1rem);
            right: auto;
            color: var(--font-color);
            @w: 2px;
            text-shadow: @w @w 0 var(--bg-color), -@w @w 0 var(--bg-color), @w -@w 0 var(--bg-color), -@w -@w 0 var(--bg-color);
        }
    }
}

.eyeCatcher {
    position: absolute;
    left: 100%;
    top: -8rem;
    margin-left: -3rem;

    color: var(--text-on-secondary-color);
    height: 15rem;
    width: 15rem;
    text-align: center;
    display: flex;
    align-items: center;
    transform: rotate(-5deg);

    p {
        margin: 0;
    }
}

.eyeCatcherContent {
    position: relative;
    z-index: 1;
}

.eyeCatcherBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: var(--secondary-color);
}