@import '../../style/vars.less';

.signatureSection {
  background-color: none;
  --bg-color: none;
  padding: 0;
}

.customStyle {
  --bg-color: @red;
  background-color: @red;
  color: @grey;
  & input:checked {
    color: @red;
  }
}
