@import '../../style/vars.less';

.signatureSection {
  background-color: none;
  --bg-color: @aqua;
  padding: 0;
}

.signatureWrapper {
  padding: 0 !important;
}

.signatureContainer {
  margin-top: 3rem;
}
