@import '../../../components/style/vars.less';

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexContainerSimple {
  display: flex;
}

.donationStatusMessage {
  margin-top: 3rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.revokeButtonRow {
  margin-bottom: 1rem;
}

.loadingMessageContainer {
  margin-left: 1rem;
}
