@import '../style/vars.less';

.contentContainer {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}

.videoPlaceholder {
  width: 47.5%;
  height: 30%;
}

.description {
  width: 47.5%;
  margin: 0;
}
