@import '../../../components/style/vars.less';

.fullWidthBtn {
  width: 100%;
  text-align: left;
  font-weight: 100;
}

.lightFont {
  font-weight: 100;
}

.noTextDecoration {
  text-decoration: none;
}

.marginBottom {
  margin-bottom: 1rem;
}
