@import '../../../components/style/vars.less';

.fullWidthBtn {
  width: 100%;
  text-align: left;
  font-weight: 100;
}

.lightFont {
  font-weight: 100;
}

.noTextDecoration {
  text-decoration: none;
}

.ProgressBarTitle {
  margin-bottom: 0.25em;
}

.progressBarContainer {
  width: 100%;
  height: 34px;
  background-color: lightgray;
  border: solid black 1px;
}

.progressBar {
  width: 16%;
  height: 32px;
  background-color: black;
}
