@import '../../style/vars.less';

.textInput, .textInputInline, .textarea {
    background: @white ;
    border: none;
    color: @red;
    font-family: inherit;
    border-radius: 0;
    padding: @buttonPadding;
    line-height: inherit;
    max-width: 100%;

    &::placeholder {
        color: @grey;
    }

    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 @borderWidthThick @red;
    }
}

.textInput {
    font-size: @fontSizeL;
}

.textInputInline {
    font-size: @fontSizeS;
}

.textarea {
    font-size: @fontSizeS;
    resize: vertical;
    min-height: 6rem;
}
