.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.buttonText {
  text-align: center;
}

.buttonContainer {
  margin-top: 2rem;
}

.headingWhite {
  color: white !important;
}
