@import '../../style/vars.less';

.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    font-size: @fontSizeS;
}

.questionContent {
    padding: .5rem;
    hyphens: auto;
}

.avatar {
    width: 3rem;
    height: 3rem;
    flex: 0 0 auto;
    margin-right: .5rem;
}

.belowSpeechBubble {
    display: flex;
    align-items: center;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}