.avatarImage {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: block;
    margin: 0 1rem 0 0;
}

.belowBubble {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.sendButton {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}