@import '../../style/vars.less';

.directDownloadButton {
    margin-top: 3rem;
    display: block;
}

.textInputContainer {
    margin-bottom: 2rem;
}

.form {
    font-size: @fontSizeS;
    position: relative;
}

.hint {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: @fontSizeM;
}

.anonymousListDownloadInfo {
    margin-top: 6rem;

    @media (max-width: @breakPointS) {
        margin-top: 21rem;
    }
}

.illustrationRotated img {
    @media (min-width: @breakPointS) {
        top: calc(100% - 12rem);
        left: calc(100% + 4rem);
        transform: rotate(-20deg);
    }
}