@import '../../style/vars.less';

.directDownloadButton {
  margin-top: 3rem;
  display: block;
}

.textInputContainer {
  margin-bottom: 1rem;
}

.form {
  font-size: @fontSizeS;
  position: relative;
}

.hint {
  margin-bottom: 2rem;
}
