@import '../style/vars.less';

.flexContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexElement {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 47.5%;

  @media (max-width: @breakPointL) {
    width: 100%;
  }
}