@import '../../../components/style/vars.less';

.contentContainer {
  // background-color: @violet;
  // color: @white;
  margin: auto;
}

.counterContainerReel {
  display: block;
}

.counterContainer {
  margin-bottom: 1rem;
  display: flex;
}

.slotMachine {
  //font-family: sans-serif;
  font-size: 4rem;
  margin-bottom: 2.5rem;

  @media (max-width: @breakPointM) {
    font-size: 1.5rem;
  }
}

.counterLabelSlotMachine {
  font-size: 2rem;
  letter-spacing: 0.04px;
  margin-top: 0.85rem;
  margin-bottom: 0;

  @media (max-width: @breakPointS) {
    font-size: @MobileFontSizeXL;
    margin-top: 1rem;
  }
}

.counterLabelMarginRight {
  margin-right: 0.75rem;

  @media (max-width: @breakPointS) {
    margin-right: 1rem;
  }
}

.counterLabelMarginLeft {
  margin-left: 0.5rem;

  @media (max-width: @breakPointS) {
    margin-left: 1rem;
  }
}

.actionTextBig {
  font-size: 2.25rem;
  letter-spacing: 0.04px;
  line-height: 1.2em;

  @media (max-width: @breakPointS) {
    font-size: @MobileFontSizeXL;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
}

.actionText {
  font-size: @DesktopFontSizeM;

  @media (max-width: @breakPointS) {
    font-size: @MobileFontSizeL;
    line-height: 1.625rem;
    margin-bottom: 4rem;
  }
}

.bold {
  font-weight: bold;
}

.noMarginTop {
  margin-top: -1rem;
}

.highlightHeadline {
  font-size: @DesktopFontSizeXXL;
  font-weight: 600;
  line-height: 1.1em; /* adjusted for Lato font */
}
