@import '../style/vars.less';

.container {
  background-attachment: fixed;
}

.stage {
  min-height: 30rem;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (max-width: @breakPointM) {
    min-height: 13rem;
  }
}

.figure {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.stage1 {
  @media (max-width: @breakPointM) {
    display: none;
  }
}

.stage1Vertical {
  pointer-events: none;
  @media (min-width: @breakPointM) {
    display: none;
  }
}

.illustration {
  touch-action: none;
  user-select: none;
}
