@import '../style/vars.less';

.container {
  .globeBackground();
  background-attachment: fixed;
  padding: 4rem 1rem;
}

.stage {
  min-height: 25rem;
  max-width: @contentWidthL;
  margin: 0 auto;
  position: relative;

  @media (max-width: @breakPointM) {
    min-height: 13rem;
  }
}

.figure {
  position: absolute;
  height: 100%;
  top: 0;

  &2 {
    right: 0;
  }
}
