@import '../../../components/style/vars.less';

.profilePageGrid {
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem 0 10rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% 50%;
  justify-content: center;

  @media (max-width: @breakPointS) {
    display: grid;
  }
}

.profilePageSection {
  position: relative;
  background-color: @white;
  padding: 3.3rem 4rem;
  text-decoration: none;
}

.profilePageSectionLarge {
  grid-column: 1 / span 2;
}

h2 {
  margin-top: 0;
}

.sectionLink {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  text-decoration: underline;

  &:after {
    content: ' >';
  }
}

.userInfo {
  display: grid;
  grid-template-columns: 200px auto;
}

.avatar {
  width: 6em;
  height: 6em;

  @media (max-width: @breakPointS) {
    margin: 0 auto;
  }
}

.username {
  font-size: @fontSizeXXL;

  margin: 0;
  padding: 0;

  @media (max-width: @breakPointM) {
    font-size: @fontSizeXL;
  }

  @media (max-width: @breakPointS) {
    text-align: center;
  }
}

// Details section
.details {
  margin: 0;
  font-size: @fontSizeM;

  @media (max-width: @breakPointS) {
    margin-top: 1em;
    text-align: center;
    font-size: @fontSizeS;
  }
}

.signaturesSection {
  .link {
    margin-top: 2rem;
    font-size: @fontSizeM;
  }

  .signatureStats {
    display: flex;
    justify-content: left;

    @media (max-width: @breakPointS) {
      flex-direction: column;
    }
  }
}

.supportText {
  margin-top: 3em;
}
