@import '../../../components/style/vars.less';

.signUpCTA {
  font-size: @MobileFontSizeXL;
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 0.7rem;

  @media (max-width: @breakPointM) {
    width: 100%;
  }
}
