@import '../../style/vars.less';

.mapSectionContainer {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  @media (max-width: @breakPointL) {
    flex-direction: column;
  }
}

.leaderboard {
  margin-top: 1rem;
}

.map {
  box-sizing: border-box;
  width: 60%;
  padding-right: 2rem;
  @media (max-width: @breakPointL) {
    padding-right: 0rem;
    width: 100%;
  }
}

.mapControlContainer {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  box-sizing: border-box;
  width: 40%;
  @media (max-width: @breakPointL) {
    padding-left: 0rem;
    width: 100%;
  }
}

.searchWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
}

.searchInfoText {
  margin: 0 0 1rem 0;
}

.hideOnDesktop {
  display: none;
  @media (max-width: @breakPointL) {
    display: block;
  }
}

.hideOnMobile {
  display: block;
  @media (max-width: @breakPointL) {
    display: none;
  }
}
