@import 'vars';
@import 'webfont';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ideal-Bold', Tahoma, Arial, Helvetica, sans-serif;
    background: @grey;
    margin: 0;
    color: @red;
}

h1, h2, h3 {
    font-size: 2rem;
    font-weight: normal;
}

a {
    color: currentColor;
}