@import 'vars';
@import 'maruWebfont';
@import 'obviouslyWebfont';

.fontBerlin {
  font-family: 'Maru', Tahoma, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    line-height: 1 !important;
  }

  p {
    line-height: 1.25;
  }
}
