@import 'vars';
@import 'webfont';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ideal', Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: @grey;
  margin: 0;
  color: @white;
  --bg-color: @grey;
  --font-color: @red;
  --font-color-secondary: @aqua;
  --secondary-color: @white;
  --text-on-secondary-color: @red;
  --grid-gap: 1rem;

  @media (min-width: @breakPointL) {
    --grid-gap: 2rem;
  }
}

h1 {
  line-height: 1.4;
}

h1,
h2 {
  font-size: @DesktopFontSizeXL;
  letter-spacing: 0.15px;

  @media (max-width: @breakPointM) {
    font-size: @MobileFontSizeXL;
    hyphens: auto;
  }
}

h3 {
  font-size: @DesktopFontSizeL;

  @media (max-width: @breakPointM) {
    font-size: @MobileFontSizeL;
    hyphens: auto;
  }
}

h4 {
  font-size: @DesktopFontSizeM;

  @media (max-width: @breakPointM) {
    font-size: @MobileFontSizeM;
    hyphens: auto;
  }
}

a {
  color: currentColor;
}

p {
  line-height: 1.5;
  font-size: @DesktopFontSizeM;

  @media (max-width: @breakPointM) {
    font-size: @MobileFontSizeM;
  }

  a {
    text-decoration: none;
    box-shadow: 0 0.1em 0 var(--bg-color), 0 0.2em 0 currentColor;

    &:hover {
      box-shadow: none;
    }
  }
}
