@font-face {
  font-family: 'Maru';
  font-weight: normal bold;
  src: url('../../../webfonts/maru/maru-bold.woff2') format('woff2'),
    url('../../../webfonts/maru/maru-bold.woff') format('woff'),
    url('../../../webfonts/maru/maru-bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Maru';
  font-weight: normal bold;
  font-style: italic;
  src: url('../../../webfonts/maru/maru-bold-italic.woff2') format('woff2'),
    url('../../../webfonts/maru/maru-bold-italic.woff') format('woff'),
    url('../../../webfonts/maru/maru-bold-italic.ttf') format('truetype');
  font-display: swap;
}
