@red: #fc484c;
@blueBright: #22c8ee;
@blueDark: #3423f6;
@rose: #e5b5c8;
@pink: #7d69f6;
@yellow: #fef377;
@grey: #f0f0f0;
@white: #F5F5F5;

@fontSizeXL: 2.5rem;
@fontSizeL: 2rem;
@fontSizeM: 1.5rem;


@headerHeight: 5rem;

@contentWidth: 45rem;
@contentWidthL: 60rem;

@breakPointM: 800px;

.headerFooterGrid() {
    @half: calc(@contentWidthL / 2 - 1rem);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr minmax(0, @half) minmax(0, @half)  1fr;
}

.globeBackground() {
    background:
        repeating-linear-gradient(
            -5deg,
            transparent,
            @red 1px,
            transparent 2px,
            transparent 10rem
        ),
        repeating-linear-gradient(
            -95deg,
            transparent,
            @red 1px,
            transparent 2px,
            transparent 10rem
        ),
        @yellow
    ;
}