@red: #fc484c;
@blueBright: #22c8ee;
@blueDark: #3423f6;
@rose: #e5b5c8;
@pink: #7d69f6;
@yellow: #fef377;
@grey: #f0f0f0;
@greyBright: #f5f5f5;
@white: white;

@fontSizeXXXL: 4rem;
@fontSizeXXL: 3rem;
@fontSizeXL: 2.5rem;
@fontSizeL: 2rem;
@fontSizeM: 1.5rem;
@fontSizeS: 1.15rem;
@fontSizeXS: 1rem;

@borderWidth: 1px;
@borderWidthThick: 3px;
@borderRadius: 1.3rem;
@borderRadiusSmall: 0.9rem;
@buttonPadding: 0.8rem 0.8rem 0.5rem;

@headerHeight: 5rem;
@headerHeightS: 4rem;

@contentWidth: 45rem;
@contentWidthL: 70rem;

@breakPointXL: 1200px;
@breakPointL: 1000px;
@breakPointM: 800px;
@breakPointS: 500px;

.headerFooterGrid() {
  @half: calc(@contentWidthL / 2 - 1rem);
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr minmax(0, @half) minmax(0, @half) 1fr;
}

.contentGrid() {
  display: grid;
  grid-template-columns:
    [wide-start] 1fr [medium-start] 1fr [slim-start] repeat(8, 1fr)
    [slim-end] 1fr [medium-end] 1fr [wide-end];
  grid-gap: var(--grid-gap);

  @media (max-width: @breakPointXL) {
    grid-template-columns:
      [wide-start] 1fr [medium-start] 1fr [slim-start] 1fr repeat(6, 1fr)
      1fr [slim-end] 1fr [medium-end] 1fr [wide-end];
  }

  @media (max-width: @breakPointM) {
    grid-template-columns:
      [wide-start medium-start] 1fr [slim-start] repeat(8, 1fr)
      [slim-end] 1fr [wide-end medium-end];
  }

  @media (max-width: @breakPointS) {
    grid-template-columns: [wide-start slim-start medium-start] repeat(8, 1fr) [wide-end medium-end slim-end];
  }
}

.contentGridWide() {
  grid-column: wide-start / wide-end;
}

.contentGridMedium() {
  grid-column: medium-start / medium-end;
}

.contentGridSlim() {
  grid-column: slim-start / slim-end;
}

.globeBackground() {
  background: repeating-linear-gradient(
      -5deg,
      transparent,
      @red 1px,
      transparent 2px,
      transparent 10rem
    ),
    repeating-linear-gradient(
      -95deg,
      transparent,
      @red 1px,
      transparent 2px,
      transparent 10rem
    ),
    @yellow;
}

.menuLink() {
  text-decoration: none;
  box-shadow: none;
}

.linkUnderlined() {
  text-decoration: none;
  box-shadow: 0 0.1em currentColor;
  border-bottom: 0.05em transparent solid;
}
