@import '../style/vars.less';

.withoutStickyBanner {
  margin-top: @headerHeight;

  @media (max-width: @breakPointS) {
    margin-top: @headerHeightS;
  }
}

.withStickyBanner {
  margin-top: calc(@headerHeight + 11.5rem);

  @media (max-width: @breakPointM) {
    margin-top: calc(@headerHeight + 20rem);
  }

  @media (max-width: 460px) {
    margin-top: calc(@headerHeight + 22rem);
  }

  @media (max-width: 343px) {
    margin-top: calc(@headerHeight + 24rem);
  }
}
