@import '../style/vars.less';

.section {
  padding: 3rem 1rem;
  position: relative;

  &:nth-child(3n + 1) {
    background: @grey;
    color: @red;
  }

  &:nth-child(3n + 2) {
    background: @yellow;
    color: @red;
  }

  &:nth-child(3n + 3) {
    background: @red;
    color: @white;
  }
}

.jumpToAnchor {
  position: absolute;
  top: -@headerHeight;
}

.sectionBody {
  max-width: @contentWidth;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @media (min-width: @breakPointM) {
    font-size: @fontSizeL;
  }
}

.title {
  font-size: @fontSizeXL;

  @media (max-width: @breakPointM) {
    font-size: @fontSizeL;
  }
}

.illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
