@import '../../style/vars.less';
@inputWidth: 25rem;
@inputButtonMargin: 0.4rem;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: -@inputButtonMargin;
  --secondary-color: @white;
  @media (max-width: @breakPointM) {
    // margin-bottom: 1rem;
  }
}

.inputContainer {
  position: relative;
  width: @inputWidth;
  margin-right: 2rem;
  // TODO: Check if ok for profile
  margin-top: @inputButtonMargin;
  margin-bottom: @inputButtonMargin;
  color: var(--secondary-color);
}

.searchTitle {
  margin: 0;
}

.suggestions {
  background-color: @white;
  font-weight: normal;
  list-style: none;
  margin-top: 0;
  max-height: 15rem;
  padding-left: 0;
  position: absolute;
  overflow-y: scroll;
  visibility: hidden;
  width: @inputWidth;
  z-index: 1;

  &.active {
    visibility: visible;
  }
}

.suggestionsItem {
  padding: 0.5rem 1.25rem;
  color: @red;

  &:hover,
  &:focus,
  &.active {
    background-color: @greyBright;
    outline: none;
  }
}

.noSuggestionsItem {
  padding: 0.5rem 1.25rem;
  color: @greyMedium;
}

.sideButton {
  // TODO: Check if ok for profile
  margin-top: @inputButtonMargin;
  margin-bottom: @inputButtonMargin;
  margin-top: @inputButtonMargin;
  margin-bottom: @inputButtonMargin;
}

.profileSideButton {
  // TODO Check if working on municipality page
  margin-top: @inputButtonMargin;
  margin-bottom: @inputButtonMargin;
  color: @white;
  border: @white solid 1px;
}
