@import '../../style/vars.less';

.linkButton,
.button {
  background: @white; // fallback for IE
  background: var(--button-bg-color);
  border: @black; //fallback for IE
  border: var(--button-font-color) solid @borderWidthThick;
  border-radius: @borderRadius;
  color: var(--button-font-color);
  font-size: @DesktopFontSizeM;
  font-weight: bold;
  padding: @buttonPadding;
  text-decoration: none;

  @media (max-width: @breakPointXS) {
    padding: @buttonPaddingSmall;
  }

  &.medium {
    font-size: @DesktopFontSizeM;
  }

  &.small {
    font-size: @DesktopFontSizeXS;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1em;
  }

  &:hover {
    color: var(--button-hover-font-color);
    background: var(--button-hover-bg-color);
  }

  &:focus {
    outline: none;
    background-color: darken(@violet, 10%);
    color: @white;
    border-color: darken(@violet, 10%);
    //box-shadow: inset 0 0 0 @borderWidthThick var(--button-hover-font-color);
  }
}

.linkButton {
  display: inline-block;
}

.button {
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

.inlineButton {
  display: inline;
  padding: 0;
  margin: 0;
  height: 1.15em;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.1em 0 var(--bg-color), 0 0.2em 0 currentColor;

  &:hover {
    box-shadow: none;
  }
}
a.inlineButton {
  text-decoration: none;
}

p a.linkButton {
  box-shadow: none;
}

.primarySecondaryButtonContainer {
  display: flex;
  width: 25rem;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;

  .inlineButton {
    font-size: @DesktopFontSizeM;
    font-weight: bold;
  }

  @media (max-width: @breakPointS) {
    width: 100%;
  }
}
