@import '../../../components/style/vars.less';

.dataEditWrapper {
  display: grid;
  grid-template-columns: 200px auto;
}

.dataEditSection {
  grid-column: 2 / span 2;
}

.optionSectionHeading {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.optionSectionDescription {
  margin-bottom: 0.75em;
  font-weight: 100;
}

.optionHeading {
  margin: 0;
}

.optionDescription {
  margin: 0;
  font-weight: 100;
}

.editableRow {
  margin-top: 1em;
  margin-bottom: 2em;
}

.socialButtonRow {
  padding-top: 1em;
}

.saveChangesBtn {
  font-size: 14px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.saveChangesBtnSmall {
  font-size: 14px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1em;
}

.editTextInput {
  margin-bottom: 1em;
}

.bottomRightLink {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
