@import '../style/vars.less';

.title {
  font-size: @fontSizeXXL;
  margin: 1rem 0 0;

  @media (max-width: @breakPointS) {
    font-size: @fontSizeL;
  }
}

.body {
  font-size: @fontSizeS;
  font-weight: normal;

  :global .intro {
    font-weight: bold;
    font-size: @fontSizeL;

    @media (max-width: @breakPointS) {
      font-size: @fontSizeM;
    }
  }

  :global blockquote {
    margin: 2rem;
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    margin: 2rem 0 1rem;
    font-size: @fontSizeM;
  }

  :global .wp-block-image {
    margin: 1rem 0;

    img {
      width: 100%;
    }
  }

  :global .wp-block-pullquote {
    position: relative;
    margin: 4rem (100/-8%) 4rem 4rem;
    font-size: @fontSizeL;
    font-weight: bold;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 1rem;
      margin-right: 2rem;
      height: 15rem;
      width: 15rem;
      background: url('./pullquote_hand.svg');
      background-repeat: no-repeat;
      background-position: center right;

      @media (max-width: @breakPointS) {
        margin-right: 1rem;
        height: 10rem;
        width: 10rem;
      }
    }

    @media (max-width: @breakPointM) {
      margin: 2rem 0 2rem 2rem;
    }

    @media (max-width: @breakPointS) {
      font-size: @fontSizeM;
      margin: 2rem 0 2rem 4rem;
    }

    blockquote {
      margin: 0;
      min-height: 4rem;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.header {
  position: relative;
}

.headerText {
  position: relative;
  z-index: 1;
}

.tagList {
  padding: 0;
  list-style: none;
  margin: 0 0 1rem;
  font-size: @fontSizeM;

  li {
    display: inline;

    &:not(:first-child):before {
      content: ', ';
    }
  }
}

.date {
  margin: 1rem 0 0;
  display: block;
  font-size: @fontSizeM;
}
