@import '../style/vars.less';

.title {
    font-size: @fontSizeXXL;
    margin: 1rem 0 0;
}

.body {
    font-size: @fontSizeS;

    :global .intro {
        font-size: @fontSizeL;
    }

    h2 {
        margin-top: 4rem;
    }

    h3 {
        margin: 2rem 0 1rem;
        font-size: @fontSizeM;
    }

    :global .wp-block-image {
        margin: 1rem 0;

        img {
            width: 100%;
        }
    }
}

.header {
    position: relative;
}

.headerText {
    position: relative;
    z-index: 1;
}

.heroImage {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}