@import '../style/vars.less';

.title {
  font-size: @fontSizeXXL;
  margin: 0 0 1rem;
}

.body {
  font-size: @fontSizeS;

  :global .intro {
    font-size: @fontSizeL;
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    margin: 2rem 0 1rem;
    font-size: @fontSizeM;
  }
}
