@import '../../style/vars.less';

.sections .section {
  position: relative;
  overflow: hidden;
  padding: 5rem 3rem 8rem 3rem;

  @media (max-width: @breakPointM) {
    padding: 3rem 2rem 5rem 2rem;
  }

  @media (max-width: @breakPointS) {
    padding: 3rem 1rem 5rem 1rem;
  }

  &.sectionNewsletter {
    background-image: url('./backgrounds/newsletter_red.svg');
  }

  // COLOR SCHEMES

  &.sectionWhite {
    background-color: @white;
    color: @black;
    --bg-color: @white;
    --font-color: @black;
    --secondary-color: @aqua;
    --text-on-secondary-color: @white;
    --button-font-color: @violet;
    --button-bg-color: @violetTransparent;

    h1,
    h2,
    h3 {
      // Note: is that ok ?
      // color: @violet;
      color: var(--secondary-color);
    }
  }

  &.sectionViolet {
    background-color: @violet;
    color: @white;
    --bg-color: @violet;
    --font-color: @white;
    --secondary-color: @aqua;
    --text-on-secondary-color: @white;
    --button-font-color: @white;
    --button-bg-color: @whiteTransparent;
  }

  &.sectionAqua {
    background-color: @aqua;
    color: @white;
    --bg-color: @aqua;
    --font-color: @white;
    --secondary-color: @violet;
    --text-on-secondary-color: @white;
    --button-font-color: @white;
    --button-bg-color: @whiteTransparent;

  }

  &.sectionRed {
    background-color: @red;
    color: @white;
    --bg-color: @red;
    --font-color: @white;
    --secondary-color: @white;
    --text-on-secondary-color: @black;
    --button-font-color: @white;
    --button-bg-color: @whiteTransparent;
  }

  &:nth-child(3n + 1):not(:only-child),
  &:nth-child(3n + 3),
  &:only-child {
    &.sectionCrowdCollect,
    &.sectionConfetti {
      background-image: url('./backgrounds/crowd_collect_blue_desktop.svg');

      @media (max-width: 900px) {
        background-image: url('./backgrounds/crowd_collect_blue_mobile.svg');
      }
    }

    &.sectionCrowdTravel {
      background-image: url('./backgrounds/crowd_travel_blue_desktop.svg');

      @media (max-width: 900px) {
        background-image: url('./backgrounds/crowd_travel_blue_mobile.svg');
      }
    }

    &.sectionCrowdQuestion {
      background-image: url('./backgrounds/crowd_question_blue_desktop.svg');

      @media (max-width: 900px) {
        background-image: url('./backgrounds/crowd_question_blue_mobile.svg');
      }
    }
  }

  &:nth-child(3n + 2),
  &:nth-child(3n + 3),
  &:only-child {
    &.sectionNewsletter {
      background-image: url('./backgrounds/newsletter_yellow.svg');
    }
  }

  &Video {
    padding-bottom: 5rem;

    .sectionBody {
      position: relative;
    }

    @media (max-width: @breakPointM) {
      //padding-top: 10rem;
      //padding-bottom: 12rem;

      h1 {
        font-size: @DesktopFontSizeL;
        margin-bottom: 2rem;
      }
    }
  }

  &Illustration {
    @media (min-width: @breakPointM) {
      padding: 8rem 1rem 8rem;
    }
  }

  &.sectionNewsletter.sectionNewsletter {
    background-size: 25em;
    background-repeat: no-repeat;
    background-position: bottom -1px left -1px;
    padding-bottom: 12rem;

    @media (max-width: @breakPointM) {
      background-size: 20rem;
      background-position: bottom -1px left -1px;
      padding-bottom: 10rem;
    }
  }

  &.sectionPledge {
    z-index: 0;
  }

  &.sectionHeader {
    padding-top: 10rem;
    padding-bottom: 2rem;

    @media (max-width: @breakPointM) {
      padding-top: 5rem;
    }

    .inner {
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }

  &.sectionGemeindeIntro {
    padding-top: 2rem;
  }

  &CrowdCollect,
  &Confetti {
    background-image: url('./backgrounds/crowd_collect_yellow_desktop.svg');

    @media (max-width: 900px) {
      background-image: url('./backgrounds/crowd_collect_yellow_mobile.svg');
    }
  }

  &CrowdTravel {
    background-image: url('./backgrounds/crowd_travel_yellow_desktop.svg');

    @media (max-width: 900px) {
      background-image: url('./backgrounds/crowd_travel_yellow_mobile.svg');
    }
  }

  &CrowdQuestion {
    background-image: url('./backgrounds/crowd_question_yellow_desktop.svg');

    @media (max-width: 900px) {
      background-image: url('./backgrounds/crowd_question_yellow_mobile.svg');
    }
  }

  &CrowdCollect,
  &Confetti,
  &CrowdTravel,
  &CrowdQuestion {
    background-repeat: no-repeat;
    background-position: bottom -6rem center;
    background-size: auto 130rem;

    @media (min-width: 1600px) {
      background-size: auto 160rem;
    }

    @media (max-width: 900px) {
      padding-bottom: 23rem;
      background-position: bottom -3rem center;
      background-size: auto 160rem;
    }

    @media (max-width: 600px) {
      padding-bottom: 20rem;
      background-size: auto 130rem;
      background-position: bottom -1rem center;
    }

    @media (max-width: 450px) {
      padding-bottom: 15rem;
      background-size: auto 90rem;
      background-position: bottom 0rem center;
    }
  }
}

.jumpToAnchor {
  position: absolute;
  top: -@headerHeight;
}

.sectionBody {
  max-width: @headerWidth;
  margin: 0 auto;

  .sectionHeader & {
    z-index: 1;
    position: relative;
  }
}

.inner {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
  .contentGridSlim();

  > :last-child {
    margin-bottom: 0;
  }

  > :first-child {
    margin-top: 0;
  }

  & + & {
    margin-top: 2rem;

    @media (max-width: @breakPointM) {
      margin-top: 1rem;
    }
  }
}

.innerWide {
  .contentGridMedium();
}

.innerTextHuge {
  font-size: @DesktopFontSizeL;

  @media (max-width: @breakPointM) {
    font-size: @DesktopFontSizeM;
  }
}

.sectionBodyNoEvents {
  pointer-events: none;
  z-index: 1;
}

.title {
  font-size: @DesktopFontSizeXL;
  margin-top: 0;
  margin-bottom: 1rem;
  .contentGridSlim();

  @media (max-width: @breakPointM) {
    font-size: @MobileFontSizeXL;
    margin-bottom: 0;
  }
}

.illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.youtubeContainer {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
  .contentGridSlim();
  pointer-events: all;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.emailSignup {
  @media (min-width: @breakPointM) {
    font-size: @DesktopFontSizeL;
  }
}

.slogan {
  .contentGrid();
  grid-column: 1 / -1;
  position: relative;
  z-index: 1;
  grid-row-gap: 2rem;
  margin: 4rem 0;
  font-size: @DesktopFontSizeXL;

  @media (max-width: @breakPointM) {
    font-size: @DesktopFontSizeL;
  }

  @media (max-width: @breakPointS) {
    font-size: @DesktopFontSizeL;
    grid-row-gap: 1rem;
    margin: 5rem 0 7rem;
  }
}

.sloganLine1 {
  grid-column: 3 / -1;
  color: @aqua;

  @media (max-width: @breakPointM) {
    grid-column-start: 2;
  }

  @media (max-width: @breakPointM) {
    grid-column-start: 2;
  }
}

.sloganLine2 {
  grid-column: 4 / -1;

  @media (max-width: @breakPointM) {
    grid-column-start: 3;
  }

  @media (max-width: @breakPointS) {
    grid-column-start: 1;
  }
}

.sloganLineSignup {
  grid-column: 5 / -3;
  pointer-events: all;
  font-size: @DesktopFontSizeM;

  @media (max-width: @breakPointM) {
    grid-column-start: 4;
    grid-column-end: -2;
  }

  @media (max-width: @breakPointS) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.pledge {
  margin-top: 4rem;

  @media (max-width: @breakPointS) {
    margin-top: 1rem;
  }
}

.heroImage {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(1) contrast(0.3) brightness(1.6);
}

.heroImageOverlay {
  background: @white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
}

.sectionWithHeroImage {
  text-shadow: 0 0 0.8rem fade(@white, 90);
  min-height: 30vw;
  display: flex;
  align-items: flex-end;
}

.spaceBetweenBlogAndCTA {
  height: 2rem;
  grid-column: 3;

  @media (max-width: @breakPointS) {
    height: 1rem;
  }
}

.header {
  position: relative;
}

.headerText {
  position: relative;
  z-index: 1;
}

.headerTitle {
  font-size: @DesktopFontSizeXL;
  margin: 1rem 0 0;

  @media (max-width: @breakPointS) {
    font-size: @DesktopFontSizeL;
  }
}

.headerPreTitle {
  margin: 0 0 1rem;
  font-size: @DesktopFontSizeM;
}

.headerSubTitle {
  margin: 1rem 0 0;
  font-size: @DesktopFontSizeM;
}

.columnIntroText {
  margin-bottom: 4rem;
}

.columnWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  width: 44%;
  font-weight: normal;
  font-size: @DesktopFontSizeS;
  margin-bottom: 2rem;

  @media (max-width: @breakPointM) {
    width: 100%;
  }
}
.columnIcon {
  text-align: center;
}

.sectionChristmasDonation {
  background-color: @grey !important;
}

.donationIntroText {
  margin-bottom: 2rem;
  font-size: @DesktopFontSizeS;
  font-weight: normal;
}

.keyVisual {
  // TODO: Position and size
  position: relative;
  margin-bottom: -3.5rem;
  margin-top: 8rem;
  width: 67.5%;
  height: 400px;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../assets/keyvisual/key-visual.svg);

  @media (max-width: @breakPointL) {
    width: 100%;
    height: 500px;
    margin-top: 7rem;
    margin-bottom: -5rem;
  }

  @media (max-width: @breakPointM) {
    width: 100%;
    height: 400px;
    margin-top: 6rem;
    margin-bottom: -5.5rem;
  }

  @media (max-width: @breakPointS) {
    width: 100%;
    height: 200px;
    margin-top: 5rem;
    margin-bottom: -2rem;
  }

  @media (max-width: 300px) {
    margin-top: 3rem;
    margin-bottom: -3rem;
  }

  @media (max-width: 220px) {
    margin-top: 3rem;
    margin-bottom: -5rem;
  }
}

.componentWrapper {
  background-color: @violet;
  color: @white;
  --bg-color: @violet;
  --font-color: @white;
  --secondary-color: @aqua;
  --text-on-secondary-color: @white;
  --button-font-color: @white;
  --button-bg-color: @whiteTransparent;
}

.componentElementContainer {
  max-width: @headerWidth;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.componentElementFullWidth {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.componentElementOneColumn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 47.5%;

  @media (max-width: @breakPointL) {
    width: 100%;
  }
}
