@import '../../style/vars.less';

.donationForm {
  background-color: @yellow;
  margin-top: 3em;
  padding: 30px 40px 40px 40px;

  form {
    font-size: @fontSizeM;
  }

  input[type='radio'] {
    margin-bottom: 0.8rem;
  }
}

.customAmount {
  display: flex;

  input {
    margin: 0.5rem 0.5rem 0 0;
  }
}

.currency {
  font-size: @fontSizeXL;
  margin-top: 16px;
}
