@import '../../style/vars.less';

.donationForm {
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
  font-weight: normal;
  margin-top: 3em;
  padding: 30px 40px 40px 40px;
  // Only for HurrayCrowd component:
  // position: relative;
  // z-index: 1;
  .loginContainer {
    --secondary-color: var(--bg-color);
    --text-on-secondary-color: var(--font-color);
  }
  .waitingHint {
    // --secondary-color: var(--bg-color);
    --secondary-color: var(--bg-color);
    --text-on-secondary-color: var(--font-color);
  }

  h3 {
    hyphens: unset;
  }

  div {
    font-size: @fontSizeM;
    // margin-bottom: 0; // NOTE: Removed, but not sure where it was needed?

    @media (max-width: @breakPointM) {
      font-size: @fontSizeS;
    }
  }

  input[type='radio'] {
    margin-bottom: 0.8rem;
  }

  // Error message
  label div {
    font-size: @fontSizeS;
    font-weight: bold;
  }
}

.donationButtons {
  margin-top: 2rem;
}

.primaryButton {
  background: var(--font-color);
  color: var(--bg-color);
  border: none;

  &:hover,
  &:focus {
    background: darken(@red, 10%);
    box-shadow: none;
  }
}

.link {
  .linkUnderlined();

  &:hover {
    .menuLink();
  }
}

.partialForm {
  margin-bottom: 0;
}

.customAmount {
  display: flex;

  input {
    margin: 0.5rem 0.5rem 0 0;
  }
}

.currency {
  font-size: @fontSizeXL;
  margin-top: 16px;
}

.info {
  font-weight: bold;
}

.hint {
  font-size: @fontSizeXS;
}

.christmasTheme {
  --bg-color: @grey;
  background-color: @red;
  color: @grey;

  button {
    border: 1px solid @grey;
    color: @grey !important;
  }

  .primaryButton {
    background-color: @grey;
    color: @red !important;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background-color: darken(@grey, 10%);
      border: none;
    }
  }

  // Radio Buttons
  input:checked ~ span {
    background-color: @grey !important;

    &:after {
      background-color: @red;
    }
  }

  // Checkboxes
  label > input {
    background-color: @grey;
    border: none;
  }

  label > input:checked {
    background-color: @grey;
    border: none;
    color: @red;
  }
}

.certificateInfo {
  margin-top: 3rem;
}
