@import '../../style/vars.less';

.header {
  .headerFooterGrid();
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: @grey;
  grid-template-rows: 5rem;
  height: @headerHeight;
}

.titleLink {
  text-decoration: none;
}

.title {
  grid-column: 2;
  margin: .8rem 0;
}

.inner {
  grid-column: 2 / 4;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: block;
}

.nav {
  font-size: @fontSizeM;

  @media (max-width: 900px) {
    font-size: @fontSizeS;
  }

  @media (max-width: 750px) {
    display: none;
  }
}

.navList {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  height: 100%;
}

.navItem {
  & + & {
    margin-left: 1rem;
  }
}

.link {
  .menuLink();
}