
.siteHeaderNav {
  display:-ms-flexbox;
  display:flex;
  margin-right:20px;
}

.siteHeaderNav a:before {
  content:"";
  position:absolute;
  top:11px;
  left:-11px;
  display:block;
  width:2px;
  height:2px;
  background:#fff;
  border-radius:100%
}

.siteHeaderNav a:first-of-type:before {
  display:none
}

.socialLogo svg {
  height:2.5rem;
  margin-right:2rem;
  opacity:0.8;width:2.5rem
}

.socialLogo:nth-last-child(1) svg {
  margin-right:0
}

.socialLogo svg:hover{
  opacity:1;
}


@media (max-width:650px){
  .siteHeaderNav a:first-child{
    margin-left:0
  }
}


.cls1,.cls2 {
  fill:#fff;
}

.cls1 {
  fill-rule:evenodd;
}

