@import '../../style/vars.less';

.section {
  width: 100%;
  padding: 1rem 2rem;
  height: 90%;
  overflow: auto;
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.chosenLocation {
  font-weight: bold;
}

.coloredText {
  color: @violet;
}

.formSection {
  margin-bottom: 0;
}

.inlineFieldSection {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (max-width: @breakPointM) {
    flex-direction: column;
  }
}

.eventText {
  padding-top: 2.5rem;
  font-size: @DesktopFontSizeM;

  @media (max-width: @breakPointM) {
    padding-top: 0;
  }
}

.textarea {
  width: 100%;
  min-height: 10rem;

  &.shortTextarea {
    min-height: 6rem;
  }
}

.textInput {
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
