

.siteFooter {
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  color:#fff;
  background:#000
}
.siteFooterContent {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  font-size:1.3rem;
  margin: 2rem;
}
.siteFooterContent, .siteFooterContent a {
  color:hsla(0,0%,100%,.7)
}
.siteFooterContent a:hover {
  color:#fff;text-decoration:none
}

@media (max-width:650px){
  .siteFooterContent{
    -ms-flex-direction:column;
    flex-direction:column
  }
}
