@import '../../../style/vars.less';


.tooltipContainer {
  position: absolute;
  min-width: 200px;
  width: 60%;
  pointer-events: none;
  padding: 1.5rem;
  z-index: 1;
  border: 2px solid #fff;
}

.tooltipHeader {
  // margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: @fontSizeM;
}
.tooltipMunicipality {
  .linkUnderlined()
}

.tooltipInfo {
  margin-top: 0.4rem;
  line-height: @fontSizeS;
}

.tooltipNumber {
  font-size: @fontSizeXS;
}

.tooltipLabel {
  font-size: @fontSizeXS;
  font-weight: 400;
}

