@import '../style/vars.less';

.iconContainer {
  display: flex;
  justify-content: center;

  a:hover {
    color: var(--secondary-color);
  }
}

.shareButtons {
  .link {
    margin: 0 3em;
  }
}

.followButtons {
  .link {
    margin: 0;
  }
}
