@import '../../style/vars.less';

.headerContainer {
  grid-column: wide-start / wide-end;
}

.mapContainer {
  height: 50vh;
  margin-bottom: 1rem;
  // border: 1px solid @red;
}

.bodyContainer {
  grid-column: slim-start / slim-end;
}

.headline {
  font-size: @fontSizeXXL;
}
