@import '../../style/vars.less';

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.tableBody {
  border-collapse: collapse;
  border-top: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-left: 3px solid #ddd;
  width: 100%;

  &.tableBody td,
  &.tableBody th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &.tableBody th {
    border-bottom: 1px solid #ddd;
  }
}

.tableHead {
  text-align: left;
}

.pageSelectorElement {
  padding: 0.75rem 0.25rem 0.5rem;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;

  &:hover {
    background-color: @red;
  }

  &.activePageSelector {
    background-color: @aqua;
  }
}

.pageSelectorContainer {
  display: flex;
  border-bottom: 3px solid #ddd;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  margin-bottom: 3rem;
}

.tabSelectorElement {
  padding: 1rem 0.25rem 0.7rem;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: lightgrey;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  &:hover {
    background-color: @red;
  }

  &.activeTabSelector {
    background-color: @aqua;
    color: white;
    padding: calc(1rem - 3px) 0.25rem 0.7rem;
    border-top: 3px solid #ddd;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    font-weight: 1000;
  }
}

.tabSelectorContainer {
  display: flex;
}

.smallGoalNumber {
  font-size: 10px;
  color: lightgrey;
}

.alignRight {
  text-align: right;
}
