@import '../../style/vars.less';

.mapSection {
  --bg-color: @pink;
  --font-color: @greyBright;
  --secondary-color: @red;
  --text-on-secondary-color: @greyBright;
  background-color: @pink;
  color: @greyBright;
}

.headerContainer {
  grid-column: wide-start / wide-end;
}

.mapContainer {
  // TODO: check vh
  height: 90vh;
  padding: 2rem;
  @media (max-width: @breakPointL) {
    height: 60vh;
  }
}

.bodyContainer {
  @media (max-width: @breakPointL) {
    margin-top: 0;
  }
  padding: 2rem;

  // grid-column: slim-start / slim-end;
}

.headline {
  font-size: @fontSizeXXL;
  line-height: 1.15;
}

.flexContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.flexItem {
  width: 50%;
  @media (max-width: @breakPointL) {
    width: 100%;
  }
}

.adjustFinallyMessage {
  padding-top: 1rem;
  padding-bottom: 2rem;
  --secondary-color: var(--bg-color);
  --text-on-secondary-color: var(--font-color);
}

.adjustFinallyMessage > div > div:first-child {
  padding: 0; // remove padding of original finally message
}
