@import '../../style/vars.less';

.mapSection {
  --bg-color: @pink !important;
  --font-color: @greyBright !important;
  --secondary-color: @red !important;
  --text-on-secondary-color: @greyBright !important;
  background-color: @pink !important;
  color: @greyBright !important;
}

.headerContainer {
  grid-column: wide-start / wide-end;
}

.mapContainer {
  // TODO: check vh
  height: 90vh;
  padding: 2rem;
  @media (max-width: @breakPointL) {
    height: 60vh;
  }
}

.bodyContainer {
  @media (max-width: @breakPointL) {
    margin-top: 0;
  }
  padding: 2rem;

  // grid-column: slim-start / slim-end;
}

.headline {
  font-size: @fontSizeXXL;
  line-height: 1.15;
}

.flexContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.flexItem {
  width: 50%;
  @media (max-width: @breakPointL) {
    width: 100%;
  }
}
