.arrow {
    // position: absolute;
    // background: green;
    // height: 2rem;
    // width: 2rem;
}

.popup {
    background: var(--font-color);
    color: var(--bg-color);
    padding: .5rem;
    visibility: hidden;

    .content:hover ~ & {
        visibility: visible;
    }
}

