@import '../../style/vars.less';

.municipalityText {
  padding-top: 7rem;

  p {
    width: 60%;
    font-size: @DesktopFontSizeL;
  }

  @media (max-width: @breakPointM) {
    p {
      width: 100%;
      font-size: @MobileFontSizeL;
    }
  }
}

.municipalityTextIntro {
  font-weight: bold;
}
