@import '../../components/style/vars.less';

.pageContainer {
  max-width: 74rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.descriptionTextLarge {
  font-size: @fontSizeM;
  font-weight: 100;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: normal;
}
