@import '../../style/vars.less';

.belowBubble {
  display: grid;
  grid-template-columns: 5rem 1fr 1fr;
  grid-gap: 0 2rem;
  margin-bottom: 2rem;

  @media (max-width: @breakPointM) {
    grid-template-columns: 4rem 1fr;
    grid-gap: 0 1rem;
  }
}

.submitButtonContainer {
  align-self: center;
  grid-column: 3;
  justify-self: end;
  margin-bottom: 0.4rem;

  @media (max-width: @breakPointM) {
    grid-column: 2;
    margin-top: 2rem;
  }
}

.textInput {
  @media (max-width: @breakPointM) {
    grid-column: 2;
  }
}

.submitButton {
  visibility: hidden;
  margin-top: 1rem;
}

.submitButtonDirty {
  visibility: visible;
}

.questionInput {
  color: inherit;
  background: transparent;
  padding: 2rem;
  font-size: inherit;
  font-weight: inherit;
  width: 100%;

  &:focus {
    box-shadow: none;
  }

  @media (max-width: @breakPointM) {
    padding: 1rem;
  }
}

.nameInput {
  width: 100%;
}

.usernameDisplay {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}

.createQuestionProfile {
  max-width: 80px;
}