@import '../../style/vars.less';

.avatarImage {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: block;
    margin-top: 1rem;
    object-fit: cover;
    object-position: center;
    transition: transform .3s;
    pointer-events: all;
}

.avatarUploadButton {
    visibility: hidden;
}

.avatarImageContainer {
    position: relative;
    cursor: pointer;
    pointer-events: none;

    &:hover {
        .avatarImage {
            transform: rotate(-15deg);
        }
    }
}

.avatarImageLabel {
    position: absolute;
    top: calc(100% + .5rem);
    left: calc(100% - .5rem);
    width: 15rem;
    font-size: @fontSizeS;
    pointer-events: all;

    &:hover {
        color: @blueBright;
    }

    &:before {
        content: '';
        position: absolute;
        right: 100%;
        background-image: url('./arrow.svg');
        background-size: 100% 100%;
        bottom: 0.8rem;
        width: 3rem;
        height: 2rem;
    }
}

.belowBubble {
    display: grid;
    grid-template-columns: 5rem 1fr 1fr;
    grid-gap: 0 2rem;
}

.submitButtonContainer {
    align-self: center;
    grid-column: 3;
    justify-self: end;
    margin-bottom: 0.4rem;
}

.submitButton {
    visibility: hidden;
}

.submitButtonDirty {
    visibility: visible;
}

.questionInput {
    color: inherit;
    background: transparent;
    padding: 2rem;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;

    &:focus {
        box-shadow: none;
    }
}

.nameInput {
    width: 100%;
}