@import '../style/vars.less';

.bar {
    position: relative;
    height: 7.5rem;
}

.barGoal {
    position: absolute;
    background: var(--font-color);
    color: var(--bg-color);
    height: 5rem;
    width: 100%;
    font-size: @fontSizeM;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.barCurrent {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    font-size: @fontSizeXXXL;
    background: var(--secondary-color);
    color: var(--text-on-secondary-color);
    display: flex;

    > div {
        position: absolute;
        bottom: -1rem;
        right: 1rem;
    }

    &.outside {
        > div {
            left: calc(100% + 1rem);
            right: auto;
            color: var(--font-color);
            @w: 2px;
            text-shadow: @w @w 0 var(--bg-color), -@w @w 0 var(--bg-color), @w -@w 0 var(--bg-color), -@w -@w 0 var(--bg-color);
        }
    }
}