@import '../../../components/style/vars.less';

.profilePageGrid {
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem 0 10rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% 50%;
  justify-content: center;

  @media (max-width: @breakPointS) {
    display: grid;
  }
}
