@import '../../../components/style/vars.less';

.signupContainer {
  margin: 2rem 0;
  padding: 1rem;

  background-color: @white;
  color: @black;
  --bg-color: @white;
  --font-color: @black;
  --secondary-color: @white;
  --text-on-secondary-color: @black;
  --button-font-color: @violet;
  --button-bg-color: @violetTransparent;
  --button-hover-bg-color: @violet;
  --button-hover-font-color: @white;
}
