@import '../../style/vars.less';

.buttonContainer {
  margin-bottom: 1.2rem;
}

.buttonContainer > div {
  display: flex;
  width: 14rem;
  justify-content: center;

  span {
    margin: 0.5rem 0;
  }

  @media (max-width: @breakPointS) {
    width: 100%;
  }
}

.loginForm {
  margin-bottom: 2.5rem;
}
