@import '../../../components/style/vars.less';

.signupContainer {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: @white;
  color: @black;
  --bg-color: @white;
  --font-color: @violet;
  --secondary-color: @white;
  --text-on-secondary-color: @black;
  /*   --button-font-color: @violet;
  --button-bg-color: @violetTransparent;
  --button-hover-bg-color: @violet;
  --button-hover-font-color: @white; */

  h3 {
    margin-top: 0;
  }

  .message {
    background-color: lawngreen;
  }
}
