@import '../style/vars.less';

.article {
    margin-top: 2rem;
    grid-column: span 4;

    @media (max-width: @breakPointM) {
        grid-column: span 5;

        &:nth-of-type(3) {
            display: none;
        }
    }

    @media (max-width: @breakPointS) {
        grid-column: 1 / -1;

        &:nth-of-type(2) {
            display: none;
        }
    }
}

.link {
    text-decoration: none;
}

.date {
    margin: 0 0 0.5rem;
    display: block;
}

.image {
    height: 9rem;
}

.title {
    font-size: @fontSizeM;
    margin: .5rem 0 0;

    .link:hover & {
        text-decoration: underline;
    }
}