@import '../style/vars.less';

.article {
  margin-top: 2rem;
  grid-column: span 4;

  @media (max-width: @breakPointM) {
    grid-column: span 5;

    &:nth-of-type(3) {
      display: none;
    }
  }

  @media (max-width: @breakPointS) {
    grid-column: 1 / -1;

    &:nth-of-type(2) {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}

.date {
  margin: 0 0 0.5rem;
  display: block;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  filter: grayscale(1) contrast(0.5) brightness(1.4);

  .link:hover & {
    filter: grayscale(1) contrast(0.5) brightness(1.6);
  }
}

.imageContainer {
  height: 12rem;
  position: relative;

  &::after {
    content: '';
    background: var(--font-color);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    mix-blend-mode: color;
  }
}

.title {
  font-size: @fontSizeM;
  margin: 0.5rem 0 0;

  .link:hover & {
    text-decoration: underline;
  }
}
