@import '../../style/vars.less';

.shareButtonRow {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @breakPointM) {
    padding: 1rem 3rem;
  }
}

.shareButtonContainer {
  background-color: @aqua;
  color: @white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  flex: 1 1 180px;
  padding: 0 0.5rem;
  margin-right: 1rem;

  > p {
    align-self: center;
  }

  @media (max-width: @breakPointM) {
    flex: 1 1 150px;
    margin-right: 0.5rem;
  }
}

.previewContainer {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  @media (max-width: @breakPointM) {
    flex-wrap: wrap;
  }
}

.imagePlaceholder {
  width: 100%;
}

.imageDescription {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.icon {
  margin-right: 1rem;
}
